.about_me {
    margin-top: 20px;

.about_image {
    float: left;
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin-right: 50px;
}

.skills {
    margin: auto;
    position: relative;
}
}