.connectfour {
    margin-top: 20px;
.cf1 {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-right: 20px;
}

.cf2 {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: auto;
}
}