.kingsmen {
margin-top: 20px;

.ks1 {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-right: 20px;
}

.ks2 {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: auto;
}
}