<div class="about_me">
  <h1>About Me</h1>


    <p>
      <img class="about_image" src="imgs/peterson_joshua.jpg" alt="Picture of Joshua Peterson">
      I have been working with code since my junior year of high school and have enjoyed it ever since. Before I decided to focus on web developement 
      I did software developement for a year. I was interested to work with the Ben Davis Web Design Team to update and maintain the Wayne Township website 
      and the multiple schools within the site. I learned how to create a page with HTML and how to style the page with CSS while working with the Web Design Team. 
      I started to learn JavaScript with them and after my two years with them I decided to further my knowledge and took classes for web developement and application developement. 
      <br><br>
      While learning more about JavaScript and how to implement it, I learned a little about PHP and the databases used in it. PHP is not my strongest skill 
      but I can understand the basics and how it works. 
      <br><br>
      I believe that a site can not be created or run by a single individual. A site needs multiple designers and developers to help cover each others weakness  with 
      their strengths. Having multiple developers will make it easier to spot mistakes in code or spelling errors as well. I work well with a team but if needed I can also 
      work alone.
    </p>
  
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <div class="skills">
    <h2>My Skills</h2>
    <ul>
      <li>Web Developement</li>
      <li>A little Web Design</li>
      <li>HTML/CSS/SCSS/JavaScript/Vue</li>
      <li>Proficient with Visual Studio Code, Dreamweaver, Photoshop, and WordPress</li>
    </ul>
  </div>
</div>
