<div class="connectfour">
<h1>Connect Four</h1>

<p>I was tasked to create a board game and decided to create a game of connect four.
    The board and pieces are created using SVG. As the play moves their piece the x position of the piece changes by 50 left to right or right to 
     left. When the mouse is clicked the current piece is dropped to the bottom of the board and a different colored piece starts following the mouse. 
     If piece 2 drops in the same x position of piece 1, the y position of piece 2 will equal the y postion of piece 1 minus 100. Theis makes it to where 
     piece 2 will fall on top of piece 1 instead of falling behind it. 
</p>

<p><a href="https://josapete24.github.io/n220fall2020_joshua_peterson/labs/board_game/index.html" target="blank">Click here to view.</a></p>

<img class="cf1" src="../imgs/connectfour_thumbnail.PNG" alt="Connect Four Screenshot 1">
<img class="cf2" src="../imgs/connectfour_screenshot2.PNG" alt="Connect Four Screenshot 2">

<h2><a href="#" onclick="projects()">Back to projects.</a></h2>
</div>