<div class="contact_info">
  <h1>Contact Info</h1>

  <div class="my_information">
    <div class="phone">
        <a href="tel:3179664840">
      <img src="imgs/iphone-solid/256x256.png" alt="Smart Phone Logo" />
    </a>
      <h3>Phone Number:</h3>
      <p><a href="tel:3179664840">(317)-966-4840</a></p>
    </div>
    <br />

    <div class="email">
        <a href="mailto:petersonjoshua24@gmail.com">
      <img src="imgs/paper-rocket-solid/128x128.png" alt="Email Logo" />
    </a>
      <h3>Email:</h3>
      <p>
        <a href="mailto:petersonjoshua24@gmail.com">
            petersonjoshua24@gmail.com
          </a>
      </p>
    </div>

    <div class="github">
        <a href="https://github.com/josapete24" target="blank">
      <img src="imgs/GitHub-Logos/GitHub_Logo.png" alt="Giut Hub Logo" />
      </a>
      <h3>GitHub:</h3>
      <p>
        <a href="https://github.com/josapete24" target="blank">Click here to view my GitHub.</a>
      </p>
    </div>
  </div>
</div>
