
<div class="home_content">
    <h1>My Name is Joshua Peterson</h1>
    <p>You can view some of my projects below</p>
</div>
<div class="projects">
    <a id="kinsgmen" href="#" onclick="kingsmen()"><img class="kingsmen_thumbnail" src="../imgs/kingsmen_project_thumbnail.PNG" alt="Kingsmen Project Thumbnail" /></a>
    <a id="kingmen_thumb" href="#" onclick="connectFour()"><img class="connectfour_thumbnail" src="../imgs/connectfour_thumbnail.PNG" alt="Connect Four Game Thumbnail" /></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div>
<p>I am a web developer with knowledge of HTML, CSS, and JavaScript. I have worked with websites for 4 years.</p>
</div>