
<div class="projects">
    <img class="kingsmen_thumbnail" src="../imgs/kingsmen_project_thumbnail.PNG" alt="Kingsmen Project Thumbnail">
</div>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eum, ex eveniet corporis maiores consequuntur animi nostrum fugit. Veritatis possimus illo quis temporibus modi quidem quod ipsa quam placeat perspiciatis.</p>
<p>Velit, distinctio. Dolore rerum est cumque beatae odio voluptates, officiis ab aut. Beatae ut at autem quam maxime! Atque consequatur ipsa excepturi consequuntur voluptas culpa cumque consectetur in, voluptatibus labore.</p>
<p>Aliquid accusamus qui eum? Reiciendis, quam libero eius hic blanditiis nisi in vitae cumque quas at aut. Nesciunt, nisi laboriosam illo facere, itaque eos commodi obcaecati ab in quo dicta?</p>
<p>Nisi architecto pariatur similique ex excepturi maxime necessitatibus non explicabo. Iure tenetur soluta tempore magni placeat, sit officiis eos quod minus beatae molestiae harum. Eos temporibus labore cum delectus ratione.</p>
<p>Nesciunt architecto praesentium impedit totam quisquam in voluptate nostrum molestiae iusto voluptatum ut quasi illo unde, laborum commodi quae eius, facilis ab eum quibusdam ullam! Ex nisi eius consequuntur praesentium.</p>
