<div class="kingsmen">
<h1>Kingsmen Project</h1>

<p>
  This is a work in progress project for a guild within the ESO (Elder Scrolls Online) Community. It focuses on describing the prupose of the guild,
   how it was founded, the roles within the guild, and the events held by it. The site uses view injections to reduce loading for the user.
</p>

<p>
  <a href="https://josapete24.github.io/N315_fall_2020/assignment3/" target="blank">Click here to view.</a>
</p>

<img class="ks1" src="../imgs/kingsmen_project_thumbnail.PNG" alt="Kingsmen Home Page">
<img class="ks2" src="../imgs/kingsmen_project_screenshot2.PNG" alt="Kingsmen About Page">

<h2><a href="#" onclick="projects()">Back to projects.</a></h2>
</div>