
<h1 class="ph1">Projects</h1>


<div class="projects_gallery">

    <figure class="gallery_thumbnail" id="kingsmen_thumbnail">
        <a href="#" onclick="kingsmen()"><img src="../imgs/kingsmen_project_thumbnail.PNG" class="thumbnail" alt="Thumbnail for the kingsmen website" /></a>
    </figure>
    <figure class="gallery_thumbnail" id="connectfour_thumbnail">
        <a href="#" onclick="connectFour()"><img src="../imgs/connectfour_thumbnail.PNG" class="thumbnail" alt="Thumbnail for the connect four game" /></a>
    </figure>
</div>